/* Body-Wrapper */
.body-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Calvin Logo */
.calvin-logo {
  width: 50%;
  margin-inline-start: 300px;
}

/* Search Bar */
input[type="text"] {
  /* display: inline-block; */
  vertical-align: 350%;
  padding: 6px;
  border: none;
  border-radius: 4px;
  background-color: lightgray;
  /* margin-top: 8px; */
  /* margin-right: 16px; */
  font-size: 17px;
}
::placeholder {
  color: black;
}

/* Navigation Bar Wrapper  */
.navbar-div {
  background-color: maroon;
  /* margin: 0 auto; */
  width: 101%;
  margin-left: -10;
}

/* Navigation Bar <ul> elements */
/* Code based on Terry's from StackOveflow */
/* https://stackoverflow.com/questions/23226888/horizontal-list-items-fit-to-100-with-even-spacing/23226961 */
ul.navbar {
  /* text-align: center; */
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 95%;
  margin: 0;
  padding: 0;
}

/* Navigation Bar <li> elements */
ul.navbar li {
  display: inline;
  color: white;
  padding: 15px 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7em;
  letter-spacing: -1px;
}

/* Main text */
div > p {
  text-align: center;
  font-size: 1.5em;
  font-family: sans-serif;
}
